@model TicketingSystem.Models.ViewModel.TicketViewModel

@{
    ViewData["Title"] = "Tickets";
}

<div class="container mt-4">
    <h1 class="mb-4">Tickets</h1>

    <div class="mb-3">
        @if (Model.hasCredit)
        {
            <a asp-action="Create" class="btn btn-outline-primary">Create New Ticket</a>
            <p class="text-success">You have @Model.ticketsAvailable tickets left.</p>
        }
        else
        {
             <p class="text-danger">You have no tickets available.</p>
        }
    </div>

    <table class="table table-hover align-middle">
        <thead class="table-light">
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>CreatorBy</th>
                <th>AssignedTo)</th>
                <th>Status</th>
                <th>Priority</th>
                <th>CreatedDate</th>
                <th>ClosedDate</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.tickets)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Title)</td>
                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                    <td>@Html.DisplayFor(modelItem => item.CreatorBy.FullName)</td>
                    <td>@Html.DisplayFor(modelItem => item.AssignedTo.FullName)</td>
                    <td>@Html.DisplayFor(modelItem => item.Status.StatusName)</td>
                    <td>@Html.DisplayFor(modelItem => item.Priority)</td>
                    <td>@item.CreatedDate.ToString("g")</td>
                    <td>@item.ClosedDate?.ToString("g")</td>
                    <td class="text-center">
                        <a asp-action="DetailsWithComments" asp-route-id="@item.TicketId" class="btn btn-primary btn-sm me-1">
                            <i class="bi bi-chat-dots"></i> Status
                        </a>
                        <a asp-action="Details" asp-route-id="@item.TicketId" class="btn btn-info btn-sm me-1">
                            <i class="bi bi-eye"></i> Details
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
