@model IEnumerable<TicketingSystem.Models.Payment>

@{
    ViewData["Title"] = "Payments";
}

<div class="container mt-4">
    <h1 class="mb-4 text-primary">Payments</h1>

    <div class="table-responsive">
        <table class="table table-hover align-middle">
            <thead class="table-light">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.PlanName)</th>
                    <th>@Html.DisplayNameFor(model => model.UserName)</th>
                    <th>@Html.DisplayNameFor(model => model.Amount)</th>
                    <th>@Html.DisplayNameFor(model => model.PaymentDate)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.PlanName)</td>
                        <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                        <td>@item.PaymentDate.ToString("g")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
